<!-- <button mat-raised-button color="warn" (click)="print()">print</button> -->

<div class="container mt-5">
    <div class="d-flex gap-3 mb-5">
        <h3>My Café Prize Generator</h3>
    </div>

    <div [formGroup]="form">
        <!-- totale dei premi -->
        <mat-form-field appearance="fill">
            <input matInput 
                    formControlName="prizes"
                    placeholder="Inserisci quantità dei premi">
        </mat-form-field>

        <!-- add user -->
        <button mat-raised-button color="primary" (click)="addUser()">
            <span>Aggiungi utente</span>
        </button>

        <!-- print -->
        <!-- <button mat-raised-button color="primary" (click)="print()">
            <span>Print</span>
        </button> -->

        <!-- calculate -->
        <button mat-raised-button color="primary" (click)="calculate()">
            <span>Calcola</span>
        </button>

        <!-- users -->
        <ng-container formArrayName="users">
            <ng-container *ngFor="let usersForm of users.controls; let i = index;">
                <!-- users -->
                <div class="users-form-row" [formGroupName]="i">

                    <!-- users name -->
                    <mat-form-field appearance="fill">
                        <input matInput 
                                formControlName="name"
                                placeholder="Nome utente">
                    </mat-form-field>

                    <!-- users name -->
                    <mat-form-field appearance="fill">
                        <input matInput 
                                formControlName="trophies"
                                placeholder="trofei">
                    </mat-form-field>

                    <!-- delete user -->
                    <mat-icon class="delete-btn" (click)="deleteUser(i)">
                        delete_forever
                    </mat-icon>
                    <!-- <button (click)="deleteUser(i)">Cancella</button> -->
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<app-table [results]="results"></app-table>